jupyter
jupyter_contrib_nbextensions
jupyterhub-legacy-py2-singleuser == 0.7.2
notebook
six
numpy >= 1.12
matplotlib >= 2.0.0
ipywidgets >= 6.0.0
sympy
scipy
git+https://github.com/clawpack/clawpack.git@v5.4.0
